/* Navbar Styles */
.appBar {
  background-color: #3CBAE6;
  box-shadow: none;
}

.toolbar {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Adjust as needed */
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 1.8rem; /* Adjust as needed */
  font-weight: bold;
}

.navList {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin: 0 20px; /* Adjust as needed */
  font-size: 1.2rem; /* Adjust as needed */
}

.navLink {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in, text-decoration 0.5s;
  font-weight: bold;
  font-size: 1rem; /* Adjust as needed */
}

.navLink:hover {
  text-decoration: underline;
  color: #fff;
}

.loginButton,
.logoutButton {
  color: white;
  border-color: white;
  border-radius: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .navList {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    z-index: 1;
    padding: 10px 0;
  }

  .navList.open {
    display: flex;
  }
}
