

.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; 
    color: #fff; 
    text-align: center;
  }
  
  .footer-content {
    padding: 0px;
  }
  
  
  .footer-content a {
    color: #fff;
    text-decoration: none;
  }
  
  
  .footer-content a:hover {
    text-decoration: underline;
    color: rgb(191, 117, 32);
  }
  