
@import url('https://fonts.googleapis.com/css?family=Jura:400');

html {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  /* width: 100vw; */
  font-family: Jura, sans-serif;
  background-color: rgb(25, 25, 26);
}

/* rgb(19, 23, 26); */